---
import ShopItem from '../../components/ShopItem.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllProducts, IPrice } from '../../lib/store';
import { toDollars } from '../../utils/money';

const prices: IPrice[] = await getAllProducts();
---

<BaseLayout title='Store'>
  <div>
    {prices.map((price) => <pre>{JSON.stringify(price, null, 2)}</pre>)}
  </div>
  <ul>
    {
      prices.map((price) => (
        <>
          <ShopItem
            title={price.product.name}
            img={price.product.images[0]}
            desc={price.product.description}
            price={toDollars(price.unit_amount)}
          />
          <div class='divider my-0' />
        </>
      ))
    }
  </ul>
</BaseLayout>
