---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Contact me' description='Reach out to me by filling the form.'>
  <h1 class='mb-8 text-3xl font-bold'>Contact me</h1>

  <form name='Contact' method='POST' data-netlify='true'>
    <div class='form-control max-w-sm mb-2'>
      <label class='label'>
        <span class='label-text'>Name</span>
      </label>
      <input name='Name' id='name' type='text' class='input input-bordered input-accent' required />
    </div>

    <div class='form-control max-w-sm mb-2'>
      <label class='label'>
        <span class='label-text'>Email</span>
      </label>
      <input name='Email' id='email' type='email' class='input input-bordered input-accent' required />
    </div>

    <div class='form-control max-w-md mb-4'>
      <label class='label'>
        <span class='label-text'>Message</span>
      </label>
      <textarea name='Message' id='message' class='textarea textarea-bordered textarea-accent' rows='6' required
      ></textarea>
    </div>

    <button type='submit' class='btn btn-wide btn-accent'>Send</button>
  </form>

  <div id='alert' class='bottom-12 w-1/2 absolute lg:w-1/4 transition-opacity ease-in-out duration-1000 opacity-0'>
    <div class='alert alert-success'>
      <div>
        <svg xmlns='http://www.w3.org/2000/svg' class='stroke-current shrink-0 h-6 w-6' fill='none' viewBox='0 0 24 24'
          ><path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        </svg>
        <span>Your message has been sent!</span>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  const form: HTMLFormElement = document.querySelector('form');
  const alert = document.getElementById('alert');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const formData: any = new FormData(form);

    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => {
        form.reset();
        toggleAlert();
        setTimeout(() => {
          toggleAlert();
        }, 3000);
        console.log('Form successfully submitted');
      })
      .catch((error) => console.error(error));
  });

  function toggleAlert() {
    alert.classList.toggle('opacity-0');
    alert.classList.toggle('opacity-100');
  }
</script>
