---
import ResumeItem from '../components/ResumeItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Resume'>
  <h1 class='mb-8 text-3xl font-bold'>Resume</h1>

  <div class='mb-10 text-justify'>
    Software developer passionate about web technologies, health, problem solving, user experience, efficiency, clean
    code and coffee. ☕️
  </div>

  <div class='text-3xl font-bold'>Experience</div>

  <div class='mb-10'>
    <ResumeItem
      title='Senior Front-End Software Developer'
      subtitle='Biron groupe santé : May 2022 - Today'
      tags={'Typescript, Angular 14, Angular Material, OAuth, MSAL, SASS, Jest, Cypress'}
    >
      <ul class='my-4'>
        <li class='ml-6 list-disc'>Development of a new patient management project with Angular and Nx Monorepo</li>
        <li class='ml-6 list-disc'>
          Delivery of a Angular project to manage COVID screenings for international travelers
        </li>
        <li class='ml-6 list-disc'>Implementation of automated tests E2E Cypress</li>
      </ul>
    </ResumeItem>

    <ResumeItem
      title='Senior Software Developer'
      subtitle='Intact Financial Corporation : Jan 2020 - May 2022'
      tags={'Typescript, Angular 14, SASS, Java/Spring, Jest, Cypress, Jenkins, OpenShift, Nx Monorepo'}
    >
      <div class='my-4'>
        Within Intact Lab, always trying to develop and improve outstanding experiences for the public and clients
      </div>

      <ul class='my-4'>
        <li class='ml-6 list-disc'>
          Development of an inter-provincial online quoter for Intact, belair direct and National Bank with significant
          traffic
        </li>
        <li class='ml-6 list-disc'>Development of an online insurance purchase project with Moneris</li>
        <li class='ml-6 list-disc'>Improved pipeline efficiency through a micro frontend architecture</li>
        <li class='ml-6 list-disc'>Actively increasing the completion rates by setting up A/B tests</li>
        <li class='ml-6 list-disc'>Mentoring of new employees and interns</li>
      </ul>
    </ResumeItem>

    <ResumeItem
      title=' Software Developer'
      subtitle='Freelance : 2020 - 2022'
      tags={'React/NextJs, 11ty, Javascript, SASS, Netlify, Forestry.io, Cloud function, SendGrid'}
    >
      <ul class='my-4'>
        <li class='ml-6 list-disc'>Creation of personalized websites for small enterprises</li>
        <li class='ml-6 list-disc'>Creation of responsive design</li>
        <li class='ml-6 list-disc'>Content creation and SEO optimization</li>
        <li class='ml-6 list-disc'>Domain management, hosting and SSL certificate</li>
      </ul>
    </ResumeItem>

    <ResumeItem
      title='Programming and Research Planning Officer'
      subtitle='CISSS Montérégie-Centre : Apr 2019 - Jan 2020'
      tags={'Bash, HTML, CSS, JavaScript'}
    >
      <ul class='my-4'>
        <li class='ml-6 list-disc'>IT project management in the laboratory</li>
        <li class='ml-6 list-disc'>Management and support of the laboratory information system</li>
        <li class='ml-6 list-disc'>Optimization and automation of processes and tasks</li>
        <li class='ml-6 list-disc'>Establishment of a register of non-compliance reports</li>
      </ul>
    </ResumeItem>
  </div>

  <h2 class='mb-4 text-3xl font-bold'>Education</h2>

  <div class='mb-10'>
    <ResumeItem
      title='Bachelor in Computer Science and Software Engineering'
      subtitle='2017 to 2019 at Université du Québec à Montréal'
    >
      <div class='my-4 ml-4 list-disc list-item'>Holder of 2 scholarships for excellence</div>
    </ResumeItem>
  </div>

  <h2 class='mb-4 text-3xl font-bold'>Skills</h2>

  <div class='flex flex-wrap gap-12'>
    <div>
      <h3 class='text-lg font-semibold'>Langages</h3>
      <ul class='mt-2 mx-4 list-disc'>
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>Java</li>
        <li>Python</li>
        <li>CSS/SASS</li>
      </ul>
    </div>

    <div>
      <h3 class='text-lg font-semibold'>Front-end tech</h3>
      <ul class='mt-2 mx-4 list-disc'>
        <li>React</li>
        <li>Next.js</li>
        <li>Angular</li>
        <li>RxJS</li>
        <li>NgRx</li>
        <li>11ty</li>
        <li>Astro</li>
        <li>Taildwind CSS</li>
      </ul>
    </div>

    <div>
      <h3 class='text-lg font-semibold'>Back-end tech</h3>
      <ul class='mt-2 mx-4 list-disc'>
        <li>Node.js</li>
        <li>Nest.js</li>
        <li>Spring Boot</li>
        <li>Django</li>
        <li>Flask</li>
      </ul>
    </div>

    <div>
      <h3 class='text-lg font-semibold'>Tools</h3>
      <ul class='mt-2 mx-4 list-disc'>
        <li>Git</li>
        <li>Azure Devops</li>
        <li>Jenkins</li>
        <li>OpenShift</li>
        <li>Jira</li>
        <li>Scrum</li>
        <li>Kanban</li>
      </ul>
    </div>
  </div>
</BaseLayout>
