---
interface Props {
  title: string;
  subtitle: string;
  tags?: string;
}
const { title, subtitle, tags }: Props = Astro.props;
---

<div class='mt-4 mb-8'>
  <h3 class='mb-2 text-lg font-semibold'>{title}</h3>
  <span class='text-sm font-light mb-4'>{subtitle}</span>
  <slot />
  {
    tags && (
      <div class='my-4 flex gap-2'>
        {tags.split(',').map((tag) => (
          <div class='badge badge-ghost'>{tag}</div>
        ))}
      </div>
    )
  }
</div>
